<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
</head>
<body>
    <h1>Create meassage</h1>
    <form method="post" action="/chats">
        <p>from : <input type="text" name="from" placeholder="who u are"></p>
        <p>meassage: <br> <textarea name="msg" placeholder="pass the meassage" cols="30" rows="10"></textarea></p>
        <p>to : <input type="text" name="to" placeholder="add received"></p>
        <button>send msg</button>
    </form>
</body>
</html>