body{
    margin-left: 20px;
}
.chat{
    background-color: aliceblue;
    display: inline-block;
    padding: 20px;
    border-radius: 16px;
}
.msg{
    background-color: dodgerblue;
    padding: 5px 15px;
    color: white;
    border-radius: 10px;
}